

.jumbotron-divider {
  border-bottom: 1px solid #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  padding-top: 30px;
}

.button-wrapper {
  margin-bottom: 16px;
}

.message-submit-button {
  vertical-align: bottom;
  align-self: end;
}

#messageForm{
  padding-top: 16px;
}